@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    margin: 3px;
    flex-wrap: wrap;
    flex: 1 1 100vw;
}

header, nav, main, aside, footer{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    background: #a1a1a1;
}

header #logo{
    display: flex;
    flex: 0 1 200px;
    background: #c9c9c9;
    

}

main{
    flex: 20 1 500px;
    height: calc(100vh - 224px);
}

#openMenu, #closeMenu{
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav{
    align-items: center;
    justify-content: flex-end;
}

nav a{
    margin: 3%;
    font-size: 1.125rem;
}

#secao1{
    background: black;
    color: white;
}
#secao2{
    background: black;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

@media only screen and(max-width:923px){
    main{
        height: calc(100vh - 330x);
    }

    aside{
        flex: 1 1 100vw;
        height: 100px;
    }

}

@media only screen and(max-width:717px){
 
    #openMenu, #closeMenu{
        display: block;
    }

    #openMenu{
        margin: auto;
    }

    #closeMenu{
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vw;
        background: rgba(255, 255,255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}

